#map {
    height: 90vh;
}

.ol-popup-closer {
    text-decoration: none;
    position: absolute;
    top: 8px;
    right: 8px;
}

.ol-popup-closer:after {
    content: "❌";
}

#luas {
    padding-top: 5px;
    padding-left: 15px;
}